@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  color: var(--black);
}

main {
  display: grid;
  padding-top: 2rem;
}

.content_section {
  padding: 2em 0.75em;
  text-align: center;
}

.content_section h1 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.content_section p {
  color: var(--gray);
  padding-bottom: 1.5rem;
  font-size: 17px;
  max-width: 500px;
  margin: auto;
}

.learn-btn {
  border-radius: 15px;
  background-color: var(--black);
}

.img_section {
  order: -1;
  display: flex;
  justify-content: center;
  max-width: 500px;
  justify-self: center;
}

.desktop-hero {
  display: none;
}

.testimonials {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.testimonials > * {
  width: 22%;
  height: 20%;
}

.desktop-br {
  display: none;
}

.navbar-brand {
  font-size: 2rem;
}

.img_section img {
  vertical-align: top;
}

.testimonials > * {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .nav-btn {
    padding: 0.25rem 1.5em;
  }
  .desktop-hero {
    display: block;
  }
  .mobile-hero {
    display: none;
  }
  .learn-btn:hover {
    background-color: var(--white);
    color: var(--black);
  }
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 4% 3rem;
    max-width: 1300px;
    margin: auto;
  }
  .content_section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    vertical-align: top;
  }
  .img_section {
    order: 1;
    padding-left: 5rem;
  }
  .content_section h1 {
    font-size: 3.25rem;
    padding-bottom: 1.5rem;
  }
  .content_section p {
    padding-bottom: 1.5rem;
    max-width: 100%;
  }
  .desktop-br {
    display: block;
  }
  .testimonials {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
}
